
body {
	margin:0px;
}

div#header {
	padding:10px;
}

div#content {
	padding:5px;
}

div#copyright {
	padding:3px;
}



div.header {
	font-family:arial narrow;
	background-color:#f3f9ff;
	box-shadow:0px 3px 5px #808080;
}

div.content {
	margin:auto;
	margin-top:7px;
	min-height:400px;
	font-family:arial;
}

div.copyright {
	margin:auto;
	font-size:10px;
	font-family:tahoma;
	text-align:center;
	background-color:#f3f9ff;
	box-shadow:0px -3px 5px #808080;
	min-height:20px;
	position:fixed;
	bottom:0px;
}

div#links {
	text-align:center;
	background-color:rgba(243, 249, 255, 0.9);
	box-shadow:0px 0px 3px rgb(243, 249, 255);
	padding:5px;
}
	div#links > button {
		border:1px solid #a0b0a0;
		background-color:white;
		cursor:pointer;
		box-shadow: 0px 0px 5px #f3f9ff;
	}


@media only screen and (max-width:1000px)
{
	div.header {
		font-size:30px;
		height:50px;
		width:100%;
		padding:0px;
	}
	div.content {
		font-size: 12px;
		width:100%;
		padding:0px;
	}
	
	div.copyright {
		width:100%;
		padding:0px;
	}
	
	div#links {
		position:fixed;
		top: 0px;
		right:0px;
	}
}
	
@media only screen and (max-width:500px)
{
	div.header {
		font-size:12px;
		height:50px;
		width:100%;
		padding:0px;
	}
}

@media only screen and (min-width:1000px)
{
	div.header {
		font-size:40px;
		height:130px;
	}
	
	div.content {
		font-size:14px; 
		width:900px;
		padding:0px;
		box-shadow:1px 1px 5px #808080;
	}
	
	div.copyright {
		width:100%;
	}
}

